@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: palevioletred;
}

#form {
   
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(212, 248, 245, 0.443);
    box-shadow: 0.8px;
    border-radius: 30px 32px rgba(31, 38, 137, .31);
    border-left: 1px solid rgba(255, 255, 255, 0.06);
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-width: 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px grey;
    letter-spacing: 3px;
    margin-top: 5%;
    opacity: .7;
}

#form button {
    font-size: 20px;
    color: rgb(7, 7, 7);
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

 .input-group{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border:purple;
    outline: pink;
    background: transparent;
    color: black;
    border-bottom: 1px solid gray;
    opacity: .7;
    
}

#form button {
    width: 50%;
    margin: 2% auto;
    color: black;
    font-size: 15px;
    opacity: .7;
    background: rgba(225, 255, 255, 0.06);
    padding: 10px 30px;
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 3px 3px 5px rgb(30, 30, 72);
}

a {
    font-size: 12px;
    text-align: center;
    color:black;
    opacity: .7;
    margin-top: 2% auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .input-group input {
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid maroon;
  }
  .input-group input:focus {
    outline: 0;
  }
  .input-group .error {
    color: red;
    font-size: 10px;
    margin-top: 5px;
  }
  .input-group.success input {
    border-color: rgb(19, 226, 19);
  }
  .input-group.error input {
    border-color: rgb(252, 11, 11);
  }
  p{
    margin-left: 40px;
  }